body {
    font-family: 'B Arabic Style'; /* الخط الأساسي */
    margin: 0;
    padding: 0;
background-color: #fff;
    color: #5a4638;
    text-align: center;
    line-height: 1.6;
}

.swal2-container button.swal2-styled.swal2-confirm {
    font-family: 'B Arabic Style';
    border: 0;
    border-radius: .25em;
    background-color: #a38264;
    color: #fff;
    font-size: 1em;
}
@font-face {
    font-family: 'B Arabic Style';
    src: url('assets/fonts/B-Arabic-Style.ttf') format('truetype');
}
.how-to-order-section h3 {
    font-size: 23px;
}

.cart-section .cart-modal #cart-items p  {
    color:#d9a4a4;
    font-size: 25px;
}
.cart-section .cart-modal h2  {
    color:#a38264;
        font-size: 30px;
}
.cart-modal {
    opacity: 0; /* إخفاء النافذة */
    visibility: hidden; /* عدم عرض العنصر */
    position: fixed;
    top: 50%; /* موضع البداية خارج الشاشة */
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* العنصر يبدأ بحجم 0 */
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    z-index: 1000;
    transition:  opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* إضافة تأثير التكبير */
}
.cart-backdrop {
    opacity: 0; /* إخفاء الخلفية */
    visibility: hidden; /* عدم عرض الخلفية */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* خلفية داكنة شفافة */
    z-index: 999;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* تأثير سلس للظهور */
}

/* عندما يتم إضافة الكلاس .visible للخلفية */
.cart-backdrop.visible {
    opacity: 1; /* ظهور الخلفية */
    visibility: visible; /* عرض الخلفية */
}

/* عند إضافة الكلاس .visible */
.cart-modal.visible {
    top: 50%; /* تمركز العنصر في منتصف الشاشة */
    opacity: 1; /* جعل العنصر مرئيًا */
    visibility: visible; /* عرض العنصر */
    transform: translate(-50%, -50%) scale(1); /* التكبير إلى الحجم الطبيعي */
}


.bannar-section{
  position: fixed;
    background: #fff;
    height: 110px;
    width: -webkit-fill-available;
    z-index: 1000;
    box-shadow: 0 2px 20px 0px rgb(0 0 0 / 4%);
}

  svg {
            width: 15px;
            height: 15px;
            fill: #86654a; /* Green color */
        }
    /* Cup icon */
    #loading-screen .cup-icon {
      width: 100px;
      height:100px;
      background: url('images/loading.png') no-repeat center;
      background-size: contain;
    
    }

    /* Spin animation */

  #main-content.visible {
      opacity: 1;
    }
  /* Loading screen styles */
    #loading-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #6b5943;
      z-index: 9999;
            transition: opacity 1.2s ease;
    }





.class-a {
    font-size: 18px;
    color: grey;
}
   .form-group label {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .form-group input[type="checkbox"] {
            margin: 0;
        }
.product-price{
        background: #f8f4f0;
    border-radius: 20px;
    position: relative;
    font-size: 20px;
    height: 85px;
    padding: 10px;
    z-index: 6;
    margin: 20px 0 -35px;
}
.go-to-order-btn {
    background-color: #86654a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: B Arabic Style;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    margin: 20px;
}

.go-to-order-btn:hover {
    background-color: #e53935;
}
/* الشعار */
.ast-builder-grid-row {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-column-gap: 20px;
    overflow-wrap: anywhere;
}
.cart-menu{
      position: fixed;
    top: 25px;
    font-size: 20px;
    right: 25px;
    
    display: flex;
    align-items:center;
    cursor: pointer;

}


  .logo-section {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
                color: #91746b;
        }

        .logo-section img {
            padding: 15px;
            width: 80px; /* حجم افتراضي للصورة */
            height: 15%;
        
        }

        .logo-section h1 {
            font-size: 24px;
            margin: 0;
        }

      

/* العنوان الترحيبي */
.welcome-section {
  
background-color: #fff;
    padding: 150px 50px 20px;

  
}

.welcome-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}


   .typing {
            display: inline;
            white-space: nowrap;
            overflow: hidden;
            border-right: 2px solid #000;
            animation: typing 3s steps(40, end), blink 0.5s step-end infinite alternate;
        }

        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }

        @keyframes blink {
            from {
                border-right-color: transparent;
            }
            to {
                border-right-color: black;
            }
        }
/* المنتجات */
.products-section {
    padding: 30px 20px;
}

.products-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product {
    background-color: #ffffff;
    border: 1px solid #e0dcd7;
    padding: 15px;
    border-radius: 20px;
    width: 250px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    border-radius: 8px;

}

.product h4 {
    font-size: 23px;
    margin: 10px 0;
}

.product button {
    position: relative;
        z-index: 8;
    background-color: #a38264;
    color: #ffffff;
    font-family: 'B Arabic Style', sans-serif;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
        bottom: 20px;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #86654a;
}

/* الأكثر طلبًا */
.top-product-section {
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0 2px 20px 0px rgb(0 0 0 / 4%);
}

.top-product {
    display: flex;
    flex-direction: column; /* عكس ترتيب العناصر */
    align-items: center; /* توسيط العناصر عموديًا */
}

.top-product img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-details {
   text-align: center; /* جعل النص محاذيًا لليسار */
    margin-left: 20px; /* إضافة فراغ بين الصورة والمحتوى */
}

.product-details h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.product-details button {
    background-color: #a38264;
    font-family: 'B Arabic Style', sans-serif;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-details button:hover {
    background-color: #86654a;
}

/* كيفية الطلب */
.how-to-order-section {
    padding: 30px 20px;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.step {
    background-color: #ffffff;
    border: 1px solid #e0dcd7;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.step .icon {
    background-color: #a38264;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  
}

.step p {
     font-size: 20px;  
}

/* فورم الطلب */
form label {
    display: block;
        font-size: 20px;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea, form button,  form select, form select option {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #e0dcd7;
    font-family: 'B Arabic Style';
    border-radius: 20px;
    font-size: 20px;
}
body p {
   font-size: 20px; 
}
form button {
    background-color: #a38264;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #86654a;
}

.order-form-section {
    padding: 50px;
    max-width: 400px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #e0dcd7;
    border-radius: 50px;
}

.order-form-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* حركات Fade لكل قسم */
.fade-in-section {
    opacity: 100;
 transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}
.cart-button {
       font-family: 'B Arabic Style';
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #a38264;
    color: white;
    border: none;
    padding: 20px 25px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1000;
}

.cart-button:hover {
    background-color: #86654a;
    transform: scale(1.1);
}

/* تحسين الخطوط للأجهزة الصغيرة */
@media (max-width: 600px) {
    body {
        font-size: 14px; /* تصغير حجم الخط العام */
    }

    header h1 {
        font-size: 18px; /* تحسين حجم عنوان الصفحة */
    }

    .product h4 {
        font-size: 23px; /* تحسين حجم اسم المنتج */
    }

    .product button {
        font-size: 18px; /* تحسين حجم أزرار المنتجات */
    }



 
}
/* استجابة للأجهزة */
@media (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }

    .products-container {
        gap: 10px;
    }

  
    
}

/* إخفاء نافذة السلة بشكل افتراضي */

/* إخفاء زر الإغلاق عند النقر على السلة */


.cart-button:hover {
    background-color: #45a049;
}

/* تنسيق الأزرار داخل السلة */
.cart-item button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #a38264;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-item button:hover {
    background-color: #e53935;
}

.close-cart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #a38264;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: B Arabic Style;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out; /* إضافة انتقالات على التحول والتأثيرات */
}


.close-cart-btn:hover {
    background-color: #91746b;
}


/* جعل كلمة "الأكثر طلبًا" مائلة وموضوعة على اليمين */
.bestseller-label {
    opacity: 10%;
    color: #a38264;
    position: absolute;
    padding: 50px 100px;
    font-style: italic;
    font-weight: bold;
    z-index: -1;
    font-size: 60px;
    border-radius: 200px;
    border-top: 2px dashed;
}

.astra-icon ast-icon-shopping-basket{
        font-size: 24px;
    color: #a38264;
}
